nav {
  position: fixed;
  top: 0;
  left: -240px;
  transition: left 0.3s, background-color 0.5s;
  height: 100%;
  width: 250px;
  z-index: 10;
}

nav:hover {
  left: 0;
  box-shadow: 5px 0 20px 0;
}

.nav-icon {
  border-radius: 99px;
  background-color: inherit;
  position: absolute;
  top: 10px;
  left: 235px;
}

.nav-title {
  display: inline-block;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 240px;
  text-align: center;
  transition: padding-right 0.3s;
  border-radius: 0px 5px 5px 0px;
}

.nav-link {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 275px;
  transition: padding-left 0.3s;
  display: inline-block;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.nav-link-icon {
  float: right;
  box-sizing: content-box;
  padding: 5px;
  width: 25px;
}

.nav-link:hover {
  padding-left: 50px;
}

/* smaller screens hide links while nav is close */
@media only screen and (max-width: 600px) {
  .nav-link {
    width: 240px;
  }

  nav:hover .nav-link {
    width: 275px;
  }

  .nav-link:hover {
    padding-left: 0;
  }
}