image: golang:latest

stages:
    - get
    - test
    - build

get:
  stage: get
  script:
    - go mod tiny
    - go get
  artifacts:
    paths:
      - $CI_PROJECT_DIR
      - $GOPATH
    expire_in: 1 week

test:
    stage: test
    script:
      - go vet
      - go test

compile:
    stage: build
    script:
      - go build -o $CI_PROJECT_DIR/cf-www
    artifacts:
      paths:
        - cf-www
