image: golang:latest

stages:
  - test
  - build
  - deploy

test:
  stage: test
  script:
    - go test -v -failfast -vet -all -race ./...

build:
  stage: build
  script:
    - go build -v -o cf-www
  artifacts:
    paths:
      - cf-www

deploy:
  stage: deploy
  script:
    - export SSHPASS=$SSH_PASS
    - sshpass -e scp -o stricthostkeychecking=no -r cf-www [$SSH_USER]@[$SSH_HOST].com:/
  only:
    - master
