image: golang:latest

stages:
  - test
  - build
  - deploy

test:
  stage: test
  script:
    - go test -v -failfast -vet -all -race ./...

build:
  stage: build
  script:
    - go build -v -o cf-www
  artifacts:
    paths:
      - cf-www

deploy:
  stage: deploy
  script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_KEY")
    
    - ssh-keyscan $SSH_DOMAIN >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    
    - ssh $SSH_USER@$SSH_DOMAIN systemctl stop cf-www
    - scp cf-www $SSH_USER@$SSH_DOMAIN:$SSH_PATH
    - scp cf.db $SSH_USER@$SSH_DOMAIN:$SSH_PATH
    - ssh $SSH_USER@$SSH_DOMAIN systemctl start cf-www
  only:
    - master
