image: golang:latest

stages:
  - test
  - build
  - deploy

test:
  stage: test
  script:
    - go test -v -failfast -vet -all -race ./...

build:
  stage: build
  script:
    - go build -v -o cf-www
  artifacts:
    paths:
      - cf-www

deploy:
  stage: deploy
  script:
    - apt-get update -qq && apt-get install -y -qq sshpass
    - sshpass -V
    - export SSHPASS=$SSH_PASS
    - sshpass -e scp -o stricthostkeychecking=no -r cf-www $SSH_HOST:/
    - sshpass -e ssh -o StrictHostKeyChecking=no $SSH_HOST 'reboot'
  only:
    - master
