image: golang:latest

stages:
  - build
  - deploy

build:
  image: golang:latest
  stage: build
  script:
    - go mod tidy -v
    - go get -v
    - go test -v -failfast -vet -all -race ./...
    - go build -v -o cf-www
  artifacts:
    paths:
      - cf-www

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - apk add openssh
    - mkdir ~/.ssh
    - eval $(ssh-agent -s)
    # TODO: replace bash with default alpine shell.
    # /bin/sh in place of bash fails with
    # /bin/sh: syntax error: unexpected "("
    - apk add bash
    - bash -c "ssh-add <(echo '$SSH_KEY')"
    - ssh-keyscan -H $SSH_DOMAIN >> ~/.ssh/known_hosts
    
    - ssh $SSH_USER@$SSH_DOMAIN systemctl stop cf-www
    - scp cf-www $SSH_USER@$SSH_DOMAIN:$SSH_PATH
    - scp cf.db $SSH_USER@$SSH_DOMAIN:$SSH_PATH
    - ssh $SSH_USER@$SSH_DOMAIN systemctl start cf-www
  only:
    - master
