image: golang:latest

stages:
  - test
  - build
  - deploy

test:
  stage: test
  script:
    - go test -v -failfast -vet -all -race ./...

build:
  stage: build
  script:
    - go build -v -o cf-www
  artifacts:
    paths:
      - cf-www

deploy:
  stage: deploy
  script:
    - apt-get update -qq && apt-get install -y -qq lftp
    - lftp -c "set ftp:ssl-allow no; open -u $SSH_USER,$SSH_PASS $SSH_HOST; mirror -Rev /cf-www /cf-www
  only:
    - master
