.nav-boxes {
  text-align: center;
}

.nav-boxes a {
  width: 250px;
  margin: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: box-shadow 0.3s;
  box-shadow: none;
}

.nav-boxes a:hover {
  box-shadow: 0 0 20px 0 black;
}

.nav-boxes a i {
  font-size: 150px;
}

@media only screen and (max-width: 700px) {
  .nav-boxes a {
    widows: 100%;
  }
}