.navbar {
    position: fixed;
    top: 0px;
    left: -240px;
    transition: all 0.5s;
    background-color: black;
    height: 100%;
    width: 250px;
    z-index: 10;
}

.navbar:hover {
    left: 0px;
    background-color: whitesmoke;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar-icon {
    border-radius: 99px;
    background-color: inherit;
    position: absolute;
    top: 10px;
    left: 235px;
}

.navbar-title {
    display: inline-block;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 0px 5px 5px 0px;
}

.navbar-title:hover {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar:hover .navbar-title {
    background-color: #8dc63f;
}

.navbar-link {
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 275px;
    transition: all 0.3s;
    float: left;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.navbar-link i {
    float: right;
    padding-right: 5px;
    font-size: 25px;
    line-height: 30px;
}

.navbar-link:hover {
    padding-left: 50px;
}

.navbar-link:active {
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {
    .navbar-link {
        width: 250px;
        border-radius: 0px;
    }

    .navbar-link:hover {
        padding-left: 0px;
    }
    
    .navbar-link:active {
        padding-left: 0px;
    }
}