/* navbar */
.navbar {
    position: fixed;
    top: 0px;
    left: -240px;
    transition: left 0.5s, background-color 1s;
    background-color: black;
    height: 100%;
    width: 250px;
    z-index: 10;
}

.navbar:hover {
    left: 0px;
    background-color: whitesmoke;
}

/* remove default a tag style */
.navbar a {
    text-decoration: none;
    color: white;
}

/* navbar icon */
.navbar-icon {
    border-radius: 99px;
    background-color: inherit;
    position: absolute;
    top: 10px;
    left: 235px;
}

/* navbar title (button and text next to icon) */
.navbar-title {
    display: inline-block;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 240px;
    text-align: center;
    transition: padding-right 0.3s;
    border-radius: 0px 5px 5px 0px;
    background-color: #8dc63f;
}

.navbar-title:hover {
    padding-right: 40px;
}

.navbar:hover .navbar-title {
    width: 250px;
}

/* navbar links (inner i tag is the link's icon) */
.navbar-link {
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 30px;
    width: 275px;
    transition: padding-left 0.3s;
    float: left;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.navbar-link i {
    float: right;
    padding-right: 5px;
    font-size: 25px;
    line-height: 30px;
}

.navbar-link:hover {
    padding-left: 50px;
}

/* smaller screens hide navbar links while navbar is close */
@media only screen and (max-width: 600px) {
    .navbar-link {
        width: 240px;
    }

    .navbar:hover .navbar-link {
        width: 275px;
    }

    .navbar-link:hover {
        padding-left: 0px;
    }
}