.icon {
  display: block;
  margin: auto;
}

.message {
  max-width: 350px;
  margin: auto;
  color: black;
  font-size: large;
}

.dark-theme .message {
  color: whitesmoke;
}

.code {
  max-width: 350px;
  margin: auto;
  color: darkgrey;
  font-size: small;
}