#nav-link-yt { background-color: #ff0000; }
.dark-theme #nav-link-yt { background-color: #282828; }

#nav-link-patron { background-color: #f85944; }
.dark-theme #nav-link-patron { background-color: #012847; }

#nav-link-game { background-color: #171A21; }
.dark-theme #nav-link-game { background-color: darkblue; }

#nav-link-article { background-color: #77ab59; }
.dark-theme #nav-link-article { background-color: darkgreen; }

#nav-link-twitch { background-color: #6441A4; }
.dark-theme #nav-link-twitch { background-color: black; }

#nav-link-mode { background-color: darkblue; }
.dark-theme #nav-link-mode { background-color: grey; }

#nav-link-mode span:before { content: "Dark"; }
.dark-theme #nav-link-mode span:before { content: "Light"; }