<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/client/ico/fav.ico">
        <link rel="icon" type="image/png" href="/client/ico/192.png" sizes="192x192">
        <link rel="apple-touch-icon" sizes="180x180" href="/client/ico/180.png">
        <link rel="stylesheet" type="text/css" href="/client/base/nav.css">
        <link rel="stylesheet" type="text/css" href="/client/base/prettyprint.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <%@ head { %>
        <% } %>
    </head>

    <body style="background-color: whitesmoke;">
        <nav class="navbar">
            <div>Computing Fun</div>
            <img src="/client/ico/50.png" alt="Computing Fun" height="50" width="50">
            <a style="background-color: green;" href="/">Go back home<i class="fa fa-home"></i></a>
            <a style="background-color: orange;" href="/articles/">Find more articles<i class="fa fa-newspaper"></i></a>
            <a style="background-color: grey;" href="https://www.patreon.com/computingfun">Become a Patron<i class="fab fa-patreon"></i></a>
            <a style="background-color: red;" href="https://www.youtube.com/channel/UCeZQbACMihORscFIwmydpzA">See our videos<i class="fab fa-youtube"></i></a>
            <a style="background-color: purple;" href="#">Watch us live<i class="fab fa-twitch"></i></a>
            <%@ nav { %>
            <% } %>
        </nav>
        <main style="margin: auto; width: 80%; z-index: 0;">
            <%@ body { %>
            <% } %>
        </main>
    </body>

</html>