<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title><%@ title { %><% } %></title>
        <link rel="icon" href="/client/base/icon.svg">
        <%@ head { %><% } %>
        <link rel="stylesheet" type="text/css" href="/client/base/navbar.css">
        <%@ styles { %><% } %>
        <%@ scripts { %><% } %>
    </head>
    <body>
        <div class="navbar">
            <a href="#"><img src="/client/base/icon.svg" alt="Computing Fun" height="40" width="40" class="icon"></a>
            <a href="https://www.youtube.com/channel/UCeZQbACMihORscFIwmydpzA" class="navbar-links-youtube">YouTube<i class="material-icons">subscriptions</i></a>
        </div>
        <%@ body { %><% } %>
    </body>
</html>