<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title><%@ title { %><% } %></title>
        <link rel="icon" type="image/svg+xml" href="/client/base/icon.svg">
        <%@ head { %><% } %>
        <link rel="stylesheet" type="text/css" href="/client/base/body.css">
        <link rel="stylesheet" type="text/css" href="/client/base/navbar.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <%@ styles { %><% } %>
        <%@ scripts { %><% } %>
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-title" href="/">Computing Fun</a>
            <img src="/client/base/icon.svg" alt="Computing Fun" height="50" width="50" class="navbar-icon">
            <a class="navbar-link" style="background-color: orange;" href="#">View articles<i class="fa fa-newspaper"></i></a>
            <a class="navbar-link" style="background-color: grey;" href="https://www.patreon.com/computingfun">Become a Patron<i class="fab fa-patreon"></i></a>
            <a class="navbar-link" style="background-color: red;" href="https://www.youtube.com/channel/UCeZQbACMihORscFIwmydpzA">Watch for free on YouTube<i class="fab fa-youtube"></i></a>
            <a class="navbar-link" style="background-color: purple;" href="#">See us live on Twitch<i class="fab fa-twitch"></i></a>
            <a class="navbar-link" style="background-color: orangered;" href="http://git.computingfun.org">Check out our GitLab<i class="fab fa-gitlab"></i></a>
        </div>
        <div class="content"><%@ body { %><% } %></div>
    </body>
</html>